$text-color-primary: #111;
$text-color-secundary:#7d7d7d;
$bg-color: #FFFFFF;

.buttonRoom {
    position: relative;
    display: flex;
    height: 80px;
    width: 250px;
    background-color: $bg-color;
    background-clip: border-box;
    border: transparent;
    border-radius: 15px;
    box-shadow:0 1rem 3rem rgba($text-color-primary, .175);
}
.buttonIcon{
    position: absolute;
    left: 20px;
    top: 20px
}

.buttonTitle{
    color: $text-color-primary;
    position: absolute;
    font-weight: bold;
    max-width: 160px;
    height: 25px;
    left: 70px;
    text-align: start;
    top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}